@using Microsoft.AspNet.Identity
@using System.Web.Security
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul id="menu_list">
            <li>
               <p>Hello @User.Identity.GetUserName()!</p>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-log">Log off</a></li>
        </ul>
    }
}
else
{
    <ul id="menu_list">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {@class="btn btn-register"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {@class = "btn btn-log"  })</li>
    </ul>
}
