@using Microsoft.AspNet.Identity
@using System.Web.Security
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul id="first_ul">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class="btn3"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn2">Log off</a></li>
        </ul>
    }
}
else
{
    <ul id="first_ul">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {@class="btn1"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {@class = "btn2"  })</li>
    </ul>
}
