@model WebDV.Models.Submission
<div>
    <h2>Upload a Submission</h2>
    <div class="validation-errors">
        @Html.ValidationSummary()
    </div>
    <form class="loginform" enctype="multipart/form-data" method="post" action="/Submission/Upload/@Model">
        <input class="file-input "type="file" id="SelectedSubmission" name="SelectedSubmission" required accept=".html, .htm"/>
        <label for="SelectedSubmission">Choose a file</label>
        <input class="btn btn-submit" type="submit" value="submit" />
    </form>
    <div class="backbtn">
        @Html.ActionLink("Back", "../")
    </div>
</div>
