@model WebDV.Models.Submission[]
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h2>Submission</h2>
        <hr />        
        @if (Model.Length == 0)
        {
            <h3>No Submission Found</h3>
        }
        else
        {
            <h3>Submission details for @Model[0].submissionID</h3>
            foreach (WebDV.Models.Submission sub in Model)
            {
                if (sub.submissionData != null){
			      <iframe srcdoc="@System.Text.Encoding.UTF8.GetString(sub.submissionData)"></iframe>
                }
                if (sub.feedbackText != null)
                {
                  <h3>Grade: @sub.grade</h3>
	              <h3>Feedback:</h3>
				  <p>@sub.feedbackText</p>
            	}
            }
        }
    </div>
</body>
</html>
